#####################################################
#
# List of approvers for caikit/caikit-nlp repository
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

*  @gkumbhat @evaline-ju @gabe-l-hart
