[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "caikit-nlp"
# Not the actual current version: overwritten by CI
version = "0.0.1"
description = "Caikit NLP"
license = {text = "Apache-2.0"}
readme = "README.md"
requires-python = "~=3.9"
classifiers=[
    "License :: OSI Approved :: Apache Software License"
]
dependencies = [
    "caikit[runtime-grpc,runtime-http]>=0.18.0,<0.20.0",
    "caikit-tgis-backend>=0.1.16,<0.2.0",
    # TODO: loosen dependencies
    "accelerate>=0.21.0",
    "datasets>=2.4.0",
    "huggingface-hub",
    "numpy>=1.22.4",
    "pandas>=1.5.0",
    "scikit-learn>=1.1",
    "scipy>=1.8.1",
    "tokenizers>=0.13.3",
    "torch>=1.13.1",
    "tqdm>=4.65.0",
    "transformers>=4.31.0",
    # GK-AUG-25-2023 NOTE: mpt branch on Mayank's fork was merged to peft main on Aug 24 and it got deleted
    # which broke caikit-nlp build. peft hasn't released newer version yet, so to get
    # the build fix, we pulling peft from main branch commit. In future, we will pull PEFT from
    # pypi
    "peft@git+https://github.com/huggingface/peft.git#8c17d556a8fe9522e10d73d7bd3fad46a6ecae14"
]

[project.urls]
Source = "https://github.com/caikit/caikit-nlp"
