[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "caikit-nlp"
# Not the actual current version: overwritten by CI
version = "0.0.1"
description = "Caikit NLP"
license = {text = "Apache-2.0"}
readme = "README.md"
requires-python = "~=3.9"
classifiers=[
    "License :: OSI Approved :: Apache Software License"
]
dependencies = [
    "caikit[runtime-grpc,runtime-http]>=0.11.3,<0.12.0",
    "caikit-tgis-backend>=0.1.8,<0.2.0",

    # TODO: loosen dependencies
    "accelerate>=0.18.0",
    "datasets>=2.4.0",
    "huggingface-hub",
    "numpy>=1.22.4",
    "pandas>=1.5.0",
    "scikit-learn>=1.1",
    "scipy>=1.8.1",
    "tokenizers>=0.13.3",
    "torch>=1.13.1",
    "tqdm>=4.65.0",
    "transformers>=4.31.0",
    "peft@git+https://github.com/mayank31398/peft.git@mpt-os-test"
]

[project.urls]
Source = "https://github.com/caikit/caikit-nlp"
